<%-include("navbar.ejs")%>
<form action="/admin/couser_update" method="post" enctype="multipart/form-data">
    <div class="container-fluid bg-white p-4">
        <div class="row">
            <div class="col-md-12 mt-4">
                <h3 class="heading">Course Form Update</h3>
            </div>
            
        </div>

        <div class="row">
            <!-- Dropdown selection for category -->
          
            
            <!-- Input for new category name -->
             <input type="hidden" name="course_id" value="<%-couse_update_data.course_id%>">
            
            
            <div class="col-md-6 mb-3">
                <label for="subject">Subject</label>
                <input type="text" value="<%-couse_update_data.subject%>" name="subject" id="subject" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="start_date">Start Date</label>
                <input type="date" value="<%-couse_update_data.start_date%>"  name="start_date" id="start_date" class="form-control" required>
            </div>

            <div class="col-md-6 mb-3">
                <label for="time">Time</label>
                <input type="time" value="<%-couse_update_data.time%>" name="time" id="time" class="form-control" required>
            </div>

            <div class="col-md-6 mb-3">
                <label for="teacher_name">Teacher Name</label>
                <input type="text" value="<%-couse_update_data.teacher_name%>"  name="teacher_name" id="teacher_name" class="form-control" required>
            </div>

            <div class="col-md-6 mb-3">
                <label for="meeting_link">Meeting Link</label>
                <input type="url" value="<%-couse_update_data.meeting_link%>"  name="meeting_link" id="meeting_link" class="form-control" required>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12 mb-3 mt-5 text-center">
                <button type="submit" class="btn btn-primary">Save </button>
            </div>
        </div>
    </div>
</form>


<%-include("footer.ejs")%>